*.db
docs*
lindex/
target/
.project
.classpath
.vscode
design/
*code-workspace
logs/
indexes/
dependency-reduced-pom.xml
indexes_backup/**
indexes/**/*
simplewiki*
stanford-english-extra-corenlp-models-current/
.cursor
sandbox/
sandbox_og
dump/
projects/
benchmark/
